.navC {
  position: fixed;
  z-index: 1;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 4rem;
  background-color: #FAFAFA;
}
.headerText {
  margin: 0;
}
.menuLinks {
  display: flex;
  list-style: none;
}
.link {
  padding: 2rem;
  cursor: pointer;
}

.burger {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 18px;
  right: 40px;
  cursor: pointer;
}
.burgerLine {
  width: 1.5rem;
  height: 0.20rem;
  margin: 0.3rem;
  background-color: rgb(49, 49, 49);
  border-radius: 5rem;
}
.menuLinksC {
  position: fixed;
  top: 4rem;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #FAFAFA;
}
.menuLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1.8rem;
}

/* @media screen and (min-width: 1024px) {
 .menuLinksC {
   background-color: none;
   position: absolute;
 }
 .burger {
   display: none;
 }
} */